.Menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}
@media screen and (max-width: 768px) {
    .Menu-content {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 20px 0;
        height: 100vh;
        left: 0;
        min-height: 100vh;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        width: 100vw;
        background: #ffffff;
    }
    .Open {
        display: grid;
        box-shadow: inset 1px 7px 5px rgba(0,0,0,.2);
    }
}
@media screen and (max-width: 768px){
    .Menu-mobile {
        display: inline-block;
        width: 100%;
        padding-left: 5px;
    }
 }
 @media screen and (max-width: 768px){
    .Menu-mobile {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding-left: 5px;
    }
 }
